{{#if details.result.ip}}
  <h1 class="p-title">
    {{fa-icon "desktop" fixedWidth=true}} Summary&nbsp;|&nbsp;
    {{fa-icon "binoculars" fixedWidth=true}} <a href="https://search.censys.io/hosts/{{details.result.ip}}/explore">Explore </a>&nbsp;|&nbsp;
    {{fa-icon "history" fixedWidth=true}} <a href="https://search.censys.io/hosts/{{details.result.ip}}/events">History </a>&nbsp;|&nbsp;
    {{fa-icon "id-badge" fixedWidth=true}} <a href="https://search.censys.io/hosts/{{details.result.ip}}/whois">WHOIS </a>
  </h1>

  {{#if details.result.location}}
    <h1 class="p-title">{{fa-icon "map-pin" fixedWidth=true}} Geolocation </h1>
    {{#if details.result.location.country}}
      <div>
          <span class="p-key">Country: </span>
          <span class="p-value">{{details.result.location.country}}</span>
      </div>
    {{/if}}
    {{#if details.result.location.city}}
      <div>
          <span class="p-key">City: </span>
          <span class="p-value">{{details.result.location.city}}</span>
      </div>
    {{/if}}
    {{#if details.result.location.province}}
      <div>
          <span class="p-key">Province: </span>
          <span class="p-value">{{details.result.location.province}}</span>
      </div>
    {{/if}}
    {{#if details.result.location.postal_code}}
      <div>
          <span class="p-key">Postal Code: </span>
          <span class="p-value">{{details.result.location.postal_code}}</span>
      </div>
    {{/if}}
    {{#if details.result.location.coordinates}}
      <div>
          <span class="p-key">Lat/Long: </span>
          <span class="p-value">{{details.result.location.coordinates.latitude}},{{details.result.location.coordinates.longitude}}</span>
      </div>
    {{/if}}
  {{/if}}

  {{#if details.result.autonomous_system}}
    <h1 class="p-title">{{fa-icon "chart-network" fixedWidth=true}} AS Details </h1>
    {{#if details.result.autonomous_system.asn}}
      <div>
          <span class="p-key">ASN: </span>
          <span class="p-value">{{details.result.autonomous_system.asn}}</span>
      </div>
    {{/if}}
    {{#if details.result.autonomous_system.name}}
      <div>
          <span class="p-key">Name: </span>
          <span class="p-value">{{details.result.autonomous_system.name }}</span>
      </div>
    {{/if}}
    {{#if details.result.autonomous_system.bgp_prefix}}
      <div>
          <span class="p-key">BGP Prefix: </span>
          <span class="p-value">{{details.result.autonomous_system.bgp_prefix}}</span>
      </div>
    {{/if}}
    {{#if details.result.autonomous_system.country_code}}
      <div>
          <span class="p-key">Country Code: </span>
          <span class="p-value">{{details.result.autonomous_system.country_code}}</span>
      </div>
    {{/if}}
  {{/if}}

  {{#if hasOperatingSystemData}}
    <h1 class="p-title">{{fa-icon "code" fixedWidth=true}} OS Details </h1>
    {{#if details.result.operating_system.uniform_resource_identifier}}
      <div>
          <span class="p-key">CPE: </span>
          <span class="p-value">{{details.result.operating_system.uniform_resource_identifier}}</span>
      </div>
    {{/if}}
    {{#if details.result.operating_system.vendor}}
      <div>
          <span class="p-key">Vendor: </span>
          <span class="p-value">{{details.result.operating_system.vendor}}</span>
      </div>
    {{/if}}
    {{#if details.result.operating_system.product}}
      <div>
          <span class="p-key">Product: </span>
          <span class="p-value">{{details.result.operating_system.product}}</span>
      </div>
    {{/if}}
    {{#if details.result.operating_system.version}}
      <div>
          <span class="p-key">Version: </span>
          <span class="p-value">{{details.result.operating_system.version}}</span>
      </div>
    {{/if}}
  {{/if}}

  {{#if details.result.services}}
    <h1 class="p-title">{{fa-icon "th-large" fixedWidth=true}} Services </h1>
    {{#each details.result.services as |service index|}}
        {{#if service.service_name}}
            <span class="section-tag"><a href="https://search.censys.io/hosts/{{details.result.ip}}/data/table#{{service.port}}-{{service.transport_protocol}}-{{service.service_name}}" class="p-link">{{service.port}}/{{service.service_name}} {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
        {{/if}}
    {{/each}}
  {{/if}}

  {{#if details.result.last_updated_at}}
    <h1 class="p-title">{{fa-icon "file-download" fixedWidth=true}} Update Metadata </h1>
    <div>
        <span class="p-key">Last Updated At: </span>
        <span class="p-value">{{details.result.last_updated_at}}</span>
    </div>
  {{/if}}
  {{#if details.result.location_updated_at}}
    <div>
        <span class="p-key">Location Updated At: </span>
        <span class="p-value">{{details.result.location_updated_at}}</span>
    </div>
  {{/if}}
  {{#if details.result.autonomous_system_updated_at}}
    <div>
        <span class="p-key">AS Updated At: </span>
        <span class="p-value">{{details.result.autonomous_system_updated_at}}</span>
    </div>
  {{/if}}

{{/if}}
